<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
role="banner" class="navbar-main w-nav">
<div class="navbar-wrapper">
    <a href="#" aria-current="page" class="brand-logo w-nav-brand w--current">
        <img width="113" loading="lazy"
            src="<%= imgUrl %>621dd5a1a3a435aa4cbad097-621e299f7228f472cded1ad3_Noize-Logo.png"
            class="header-logo" />
    </a>
    <div class="nav-menu-top-wrapper-tablet">
        <div class="navigation-tablet-close w-nav-button"><img
                src="<%= imgUrl %>62303f32cb7cbe5197a8614d_Close-256 (3).png" loading="lazy"
                alt="" class="nav-tablet-close-icon" /></div>
    </div>
    <nav role="navigation" class="nav-menu-container w-nav-menu">

        <div class="navigation-link-wrapper button-header">
            <div data-w-id="ef474973-35e6-a613-3856-af8fc8d3d519" class="link-header">
                <a href="<%= path %>/" class="menu-link w-nav-link">Home</a>
                <div class="button-border"></div>
            </div>
        </div>
        <div class="navigation-link-wrapper button-header">
            <div data-w-id="ef474973-35e6-a613-3856-af8fc8d3d519" class="link-header">
                <a href="<%= path %>/#About" class="menu-link w-nav-link">About</a>
                <div class="button-border"></div>
            </div>
        </div>
        <div class="navigation-link-wrapper button-header">
            <div data-w-id="ef474973-35e6-a613-3856-af8fc8d3d51e" class="link-header">
                <a href="<%= path %>/#Gallery" class="menu-link w-nav-link">Gallery</a>
                <div class="button-border"></div>
            </div>
        </div>
        <div class="navigation-link-wrapper button-header">
            <div data-w-id="ef474973-35e6-a613-3856-af8fc8d3d51e" class="link-header">
                <a href="<%= path %>/#News" class="menu-link w-nav-link">News</a>
                <div class="button-border"></div>
            </div>
        </div>
        <div class="navigation-link-wrapper button-header">
            <div data-w-id="ef474973-35e6-a613-3856-af8fc8d3d53c" class="link-header">
                <a href="<%= path %>/#Conserts" class="menu-link w-nav-link">Concerts</a>
                <div class="button-border"></div>
            </div>
        </div>
        <div class="navigation-link-wrapper button-header">
            <div data-w-id="ef474973-35e6-a613-3856-af8fc8d3d541" class="link-header">
                <a href="<%= path %>/#Videos" class="menu-link w-nav-link">Videos</a>
                <div class="button-border"></div>
            </div>
        </div>
        <div class="navigation-link-wrapper button-header">
            <div data-w-id="ef474973-35e6-a613-3856-af8fc8d3d541" class="link-header">
                <a href="<%= path %>/contact-us" class="menu-link w-nav-link">Contact Us</a>
                <div class="button-border"></div>
            </div>
        </div>
        <div class="social-icon-wrapper-hidden">
            <a href="#" target="_blank" class="social-link-footer">&#61805;</a>
            <a href="#" target="_blank" class="social-link-footer">&#61665;</a>
            <a href="#" target="_blank" class="social-link-footer">&#61799;</a>
            <a href="#" target="_blank" class="social-link-footer">&#61594;</a>
        </div>
    </nav>
    <div class="social-icon-wrapper">
        <a href="#" target="_blank" class="social-link-footer">&#61805;</a>
        <a href="#" target="_blank" class="social-link-footer">&#61665;</a>
        <a href="#" target="_blank" class="social-link-footer">&#61799;</a>
        <a href="#" target="_blank" class="social-link-footer">&#61594;</a>
    </div>
    <div class="menu-button-wrapper w-nav-button">
        <img src="<%= imgUrl %>621dd5a1a3a435aa4cbad097-62305dc2fdfd6a31a917f329_Burger-Button.png" loading="lazy"
            alt="" />
        <div class="menu-icon w-icon-nav-menu"></div>
    </div>
</div>
</div>