<!DOCTYPE html>
<html data-wf-domain="www.xyz.com" data-wf-page="623b536587fbf0b60b544f94"
  data-wf-site="621dd5a1a3a435aa4cbad097">

<%- include('head') %>

  <body>
    <!-- navbar -->
    <%- include('navbar') %>

      <!-- hero -->
      <div class="blog-section-image first-image wf-section">
        <div class="container-sentured w-container">
          <!-- Make this work -->
          <h1 data-w-id="1973afc7-bfb6-afb7-db7c-1dc5ad5528e0" style="opacity:0">News</h1>
        </div>
        <!-- background image is in css -->
      </div>
      <!-- card container -->
      <div class="section blog wf-section">
        <div class="container w-container">
          <div class="flexbox-horizontal">
            <!-- cards -->
            <div class="content-container w-dyn-list">
              <div role="list" class="collection-list-4 w-dyn-items">
                <div data-w-id="0b2bdbf5-cff0-adbe-a7e1-6b6e07796f3b" style="opacity:0" role="listitem"
                  class="news-3-collection-item w-dyn-item">
                  <div class="cews-card-container-wrapper">
                    <img src="<%= path %>/images/623addbaa271ea5c327b501a_image-asset.jpeg"
                      loading="lazy" alt="Popular Styles in Electronic Music">
                    <div class="news-3category-link w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href=""
                            class="category-link">Uncategorized</a></div>
                      </div>
                    </div><a href="<%= path %>/news/popular-styles-in-electronic-music"
                      class="news-3-bottom-content w-inline-block">
                      <h4 class="blog-news-heading">Popular Styles in Electronic Music</h4>
                      <p>Dance music is about the beat&mdash;no one denies it. Beyond the beat, electronic dance music
                        has,
                        over the last decade or so, also been about the BPM and the occasional mixing of genres, as when
                        Diplo</p>
                    </a>
                  </div>
                </div>
                <div data-w-id="0b2bdbf5-cff0-adbe-a7e1-6b6e07796f3b" style="opacity:0" role="listitem"
                  class="news-3-collection-item w-dyn-item">
                  <div class="cews-card-container-wrapper"><img
                      src="<%= path %>/images/623addd3faf3d7eca95ba9dc_dominik-vanyi-410261-unsplash-1080x699-1.jpg" loading="lazy"
                      alt="Dance Revolution: What Was Changed?">
                    <div class="news-3category-link w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href=""
                            class="category-link">Uncategorized</a></div>
                      </div>
                    </div><a href="<%= path %>/news/dance-revolution-what-was-changed" class="news-3-bottom-content w-inline-block">
                      <h4 class="blog-news-heading">Dance Revolution: What Was Changed?</h4>
                      <p>Some of these sounds being heard in 2019 come from more recent underground scenes. Others that
                        have
                        existed in other niche genres for a ...</p>
                    </a>
                  </div>
                </div>
                <div data-w-id="0b2bdbf5-cff0-adbe-a7e1-6b6e07796f3b" style="opacity:0" role="listitem"
                  class="news-3-collection-item w-dyn-item">
                  <div class="cews-card-container-wrapper">
                    <img
                      src="<%= path %>/images/623c58e4b9b5cd69716bf10f_pexels-nicole-sabilia-7022346%20(1).jpg" loading="lazy"
                      alt="Analyzing This Year&rsquo;s Key Trends">
                    <div class="news-3category-link w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href=""
                            class="category-link">Uncategorized</a></div>
                      </div>
                    </div>
                    <a href="<%= path %>/news/analyzing-this-years-key-trends" class="news-3-bottom-content w-inline-block">
                      <h4 class="blog-news-heading">Analyzing This Year&rsquo;s Key Trends</h4>
                      <p>In a lot of the electronic dance music of the last decade-plus, the emphasis has been more on
                        the
                        beat and the bass than anything, and on...</p>
                    </a>
                  </div>
                </div>
                <div data-w-id="0b2bdbf5-cff0-adbe-a7e1-6b6e07796f3b" style="opacity:0" role="listitem"
                  class="news-3-collection-item w-dyn-item">
                  <div class="cews-card-container-wrapper">
                    <img
                      src="<%= path %>/images/6232eaebaef734a4b7fa8a9b-623addfd92159ac2935472b8_Rectangle21.png" loading="lazy"
                      alt="Signs That Rock Will Dominate" sizes="100vw"
                      srcset="
                      <%= path %>/images/623addfd92159ac2935472b8_Rectangle21-p-500.png 500w, 
                      <%= path %>/images/623addfd92159ac2935472b8_Rectangle21.png 1000w">
                    <div class="news-3category-link w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href="" class="category-link">Music</a>
                        </div>
                      </div>
                    </div>
                    <a href="<%= path %>/news/signs-that-rock-will-dominate" class="news-3-bottom-content w-inline-block">
                      <h4 class="blog-news-heading">Signs That Rock Will Dominate</h4>
                      <p>Originating in the UK and Germany in the late 1980s and early 1990s, before devolving into
                        self-parody, trance is by no means fashionable. </p>
                    </a>
                  </div>
                </div>
                <div data-w-id="0b2bdbf5-cff0-adbe-a7e1-6b6e07796f3b" style="opacity:0" role="listitem"
                  class="news-3-collection-item w-dyn-item">
                  <div class="cews-card-container-wrapper"><img
                      src="<%= path %>/images/6232eaebaef734a4b7fa8a9b-623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png"
                      loading="lazy" alt="EDM and Dance Festivals in Europe" sizes="100vw"
                      srcset="
                      <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-500.png 500w, 
                      <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-800.png 800w, 
                      <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-1080.png 1080w, 
                      <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png 1280w">
                    <div class="news-3category-link w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href=""
                            class="category-link">Uncategorized</a></div>
                      </div>
                    </div>
                    <a href="<%= path %>/news/edm-and-dance-festivals-in-europe" class="news-3-bottom-content w-inline-block">
                      <h4 class="blog-news-heading">EDM and Dance Festivals in Europe</h4>
                      <p>Both house and techno are four decades old now, so a big part of keeping these genres and their
                        various offshoots fresh, is experimentation.</p>
                    </a>
                  </div>
                </div>
                <div data-w-id="0b2bdbf5-cff0-adbe-a7e1-6b6e07796f3b" style="opacity:0" role="listitem"
                  class="news-3-collection-item w-dyn-item">
                  <div class="cews-card-container-wrapper"><img
                      src="<%= path %>/images/6232eaebaef734a4b7fa8a9b-623addc7fb55b31c75ee9820_Photo-Filter-1-1.png" loading="lazy"
                      alt="Sounds That Define Modern Music" sizes="100vw"
                      srcset="
                      <%= path %>/images/623addc7fb55b31c75ee9820_Photo-Filter-1-1-p-500.png 500w, 
                      <%= path %>/images/623addc7fb55b31c75ee9820_Photo-Filter-1-1.png 1024w">
                    <div class="news-3category-link w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item"><a href=""
                            class="category-link">Uncategorized</a></div>
                      </div>
                    </div>
                    <a href="<%= path %>/news/sounds-that-define-modern-music" class="news-3-bottom-content w-inline-block">
                      <h4 class="blog-news-heading">Sounds That Define Modern Music</h4>
                      <p>Take the track &ldquo;Oral Couture.&rdquo; An industrial bassline throbs rhythmically until a
                        crystalline synthesizer arpeggio enters the mix. While...</p>
                    </a>
                  </div>
                </div>
              </div>
              <div role="navigation" aria-label="List" class="w-pagination-wrapper pagination"></div>
            </div>
            <!-- sidebar -->
            <div class="sidebar">
              <div class="sidebar-wrapper">
                <div data-w-id="04c25949-160c-e0e8-5cfa-6cbfaae6da5e" style="opacity:0" class="sidebar-posts-cont">
                  <div class="recent-posts-wrapper">
                    <h4>Recent Posts</h4>
                  </div>
                  <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                      <div role="listitem" class="news-collection-item w-dyn-item"><a
                          href="<%= path %>/news/popular-styles-in-electronic-music" class="clear-link w-inline-block"><img
                            src="<%= path %>/images/623addbaa271ea5c327b501a_image-asset.jpeg" loading="lazy"
                            alt="Popular Styles in Electronic Music" class="recent-post-image">
                          <div>
                            <p class="recent-post-name">Popular Styles in Electronic Music</p>
                            <p class="news-post-date">March 24, 2022</p>
                          </div>
                        </a></div>
                      <div role="listitem" class="news-collection-item w-dyn-item"><a
                          href="<%= path %>/news/dance-revolution-what-was-changed" class="clear-link w-inline-block"><img
                            src="<%= path %>/images/623addd3faf3d7eca95ba9dc_dominik-vanyi-410261-unsplash-1080x699-1.jpg"
                            loading="lazy" alt="Dance Revolution: What Was Changed?" class="recent-post-image">
                          <div>
                            <p class="recent-post-name">Dance Revolution: What Was Changed?</p>
                            <p class="news-post-date">March 23, 2022</p>
                          </div>
                        </a></div>
                      <div role="listitem" class="news-collection-item w-dyn-item"><a
                          href="<%= path %>/news/analyzing-this-years-key-trends" class="clear-link w-inline-block"><img
                            src="<%= path %>/images/623c58e4b9b5cd69716bf10f_pexels-nicole-sabilia-7022346%20(1).jpg" loading="lazy"
                            alt="Analyzing This Year&rsquo;s Key Trends" class="recent-post-image">
                          <div>
                            <p class="recent-post-name">Analyzing This Year&rsquo;s Key Trends</p>
                            <p class="news-post-date">March 24, 2022</p>
                          </div>
                        </a></div>
                      <div role="listitem" class="news-collection-item w-dyn-item"><a
                          href="<%= path %>/news/signs-that-rock-will-dominate" class="clear-link w-inline-block"><img
                            src="<%= path %>/images/623addfd92159ac2935472b8_Rectangle21.png" loading="lazy"
                            alt="Signs That Rock Will Dominate"
                            sizes="(max-width: 991px) 100vw, (max-width: 1279px) 7vw, (max-width: 1439px) 78.1875px, 80px"
                            srcset="
                            <%= path %>/images/623addfd92159ac2935472b8_Rectangle21-p-500.png 500w, 
                            <%= path %>/images/623addfd92159ac2935472b8_Rectangle21.png 1000w"
                            class="recent-post-image">
                          <div>
                            <p class="recent-post-name">Signs That Rock Will Dominate</p>
                            <p class="news-post-date">March 23, 2022</p>
                          </div>
                        </a></div>
                      <div role="listitem" class="news-collection-item w-dyn-item"><a
                          href="<%= path %>/news/edm-and-dance-festivals-in-europe" class="clear-link w-inline-block"><img
                            src="<%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png" loading="lazy"
                            alt="EDM and Dance Festivals in Europe"
                            sizes="(max-width: 991px) 100vw, (max-width: 1279px) 7vw, (max-width: 1439px) 78.1875px, 80px"
                            srcset="
                            <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-500.png 500w, 
                            <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-800.png 800w, 
                            <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-1080.png 1080w, 
                            <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png 1280w"
                            class="recent-post-image">
                          <div>
                            <p class="recent-post-name">EDM and Dance Festivals in Europe</p>
                            <p class="news-post-date">March 24, 2022</p>
                          </div>
                        </a></div>
                    </div>
                  </div>
                </div>
                <div class="sidebar-posts-cont">
                  <div class="recent-posts-wrapper">
                    <h4>Categories</h4>
                  </div>
                  <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                      <div role="listitem" class="collection-item-3 w-dyn-item"><a href=""
                          class="category-link">Music</a></div>
                      <div role="listitem" class="collection-item-3 w-dyn-item"><a href=""
                          class="category-link">Uncategorized</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <%- include('footer') %>

  </body>

</html>