<!DOCTYPE html>
<html data-wf-domain="www.xyz.com" data-wf-page="623b536587fbf0733b544f8c"
  data-wf-site="621dd5a1a3a435aa4cbad097">

<%- include('../head') %>

<body>
  <%- include('../navbar') %>

  <div class="blog-section wf-section">
    <div class="container w-container">
      <div class="news-heading-wrapper">
        <div class="w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="collection-item-2 w-dyn-item"><a href="../categories/uncategorized"
                class="category-link">Uncategorized</a></div>
          </div>
        </div>
        <h1 class="heading-3">EDM and Dance Festivals in Europe</h1>
        <p class="news-post-date">March 24, 2022</p>
      </div>
    </div>
  </div>
  <div class="section dark-gray wf-section">
    <div class="container w-container">
      <div class="flexbox-horizontal">
        <div class="content-container"><img
            src="<%= imgUrl %>623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png"
            loading="lazy" alt=""
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 63vw, 744.9921875px"
            srcset="<%= imgUrl %>623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-500.png 500w, <%= imgUrl %>623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-800.png 800w, <%= imgUrl %>623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-1080.png 1080w, <%= imgUrl %>623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png 1280w"
            class="image-3" />
          <div class="rich-text-block-2 w-richtext">
            <p>Dance music is about the beat—no one denies it. Beyond the beat, electronic dance music has, over the
              last decade or so, also been about the BPM and the occasional mixing of genres, as when Diplo embraced
              trap and moombahton. But as the major commercial wave of EDM has rolled back a bit, other sounds in the
              broader electronic genre have begun to get more attention.</p>
            <p>Some of these sounds being heard in 2019 come from more recent underground scenes. Others that have
              existed in other niche genres for a while, or even had their heyday in other decades. And while house and
              its sub-genres arguably remain the most popular styles of today’s EMD production, below, we take a look at
              a few artists who are helping to define this year’s exciting array of electronic dance music sounds.</p>
            <h2><strong>The return of lush, melodic production</strong></h2>
            <p>In a lot of the electronic dance music of the last decade-plus, the emphasis has been more on the beat
              and the bass than anything, and on creating sonic mayhem, whether it’s a mainstream act like Skrillex or
              someone more experimental like Oneohtrix Point Never. And if the results aren’t bombastic, then they might
              be something like the minimalist techno coming out of Berlin, which largely eschews melody. But a look
              back at Jamie Principle and Frankie Knuckles iconic house track “Your Love” also shows the value of a
              great melodic hook in creating a lasting dance record, but also a song that can get people moving on the
              dance floor.</p>
            <h2><strong>Afrobeat influence</strong></h2>
            <p>Like the Gqom genre aesthetic, Afrobeat has been around for a while. A blend of hip-hop, funky house, and
              local African music from London (via Africa diaspora), Ghana, and Nigeria, Afrobeat had originally been
              fairly limited to parts of the African continent and the UK, but it’s catching fire internationally.
              British-Ghanian artist Mista Silva’s “Murda” is a great example of the Afrobeats vibe, which sounds almost
              like a more rhythmically and sonically diverse musical cousin of Reggaeton.</p>
            <h2><strong>Trance lives again</strong></h2>
            <p>Originating in the UK and Germany in the late 1980s and early 1990s, before devolving into self-parody,
              trance is by no means fashionable. The Field might have released a sliced and diced variant of trance back
              in the late 2000s, but it’s not as if people are clamoring for the sound. And yet, Tale of Us recently
              dropped an amazing remix of “Cafe del Mar,” an iconic trance track produced by Energy 52.</p>
            <h2><strong>Experimental dance</strong></h2>
            <p>Both house and techno are four decades old now, so a big part of keeping these genres and their various
              offshoots fresh, is experimentation. In 2019, plenty of artists are doing just that, whether it’s finding
              refreshing sounds and textures, or collapsing genres to find new forms of expression.</p>
            <p>Take the track “Oral Couture.” An industrial bassline throbs rhythmically until a crystalline synthesizer
              arpeggio enters the mix. While a lot of artists might quickly drop the beat, JASSS lets this mixture
              unfold like a music cue from a science fiction or horror film, and brings the beat in around the 2-minute
              mark. It’s a masterful approach to dancefloor sounds, and really seems like the electronic dance music
              that permeate the clubs of the future.</p>
            <p>‍</p>
          </div>
          <div class="arrows-wrap"><a data-w-id="f8069c5f-65c5-b2b6-392f-7b828c4bf796"
              href="signs-that-rock-will-dominate" class="arrow-wrap w-inline-block"><img
                src="<%= imgUrl %>623870db45ae241269ee4110_image-asset.jpg"
                loading="lazy" alt="" sizes="(max-width: 767px) 100vw, 62px"
                srcset="<%= imgUrl %>623870db45ae241269ee4110_image-asset-p-500.jpeg 500w, <%= imgUrl %>623870db45ae241269ee4110_image-asset-p-800.jpeg 800w, <%= imgUrl %>623870db45ae241269ee4110_image-asset.jpeg 1000w"
                class="image-4 left" />
              <div
                style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="vertical">
                <p class="prev-post-name">Signs That Rock Will Dominate</p>
                <p class="post">Previous</p>
              </div>
            </a><a data-w-id="f8069c5f-65c5-b2b6-392f-7b828c4bf7a0" href="sounds-that-define-modern-music"
              class="arrow-wrap w-inline-block">
              <div class="vertical right">
                <p class="next-post-name">Sounds That Can Define Modern Music</p>
                <p class="post">Next </p>
              </div><img height="62" loading="lazy" width="62"
                src="<%= imgUrl %>623addc7fb55b31c75ee9820_Photo-Filter-1-1.jpg"
                alt="" sizes="(max-width: 767px) 100vw, 62px"
                srcset="<%= imgUrl %>623addc7fb55b31c75ee9820_Photo-Filter-1-1-p-500.jpg 500w, <%= imgUrl %>623addc7fb55b31c75ee9820_Photo-Filter-1-1.jpg 1024w"
                class="image-4 right" />
            </a></div>
        </div>
       <%- include('sidebar') %>
      </div>
    </div>
  </div>

  <%- include('../footer') %>
</body>

</html>