<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="sidebar-posts-cont">
            <form action="" class="search w-form">
                <div class="_100"><input type="search" class="input-field w-input" maxlength="256" name="query"
                        placeholder="Keyword search" id="search" required="" /></div><input type="submit" value="Search"
                    class="search-button w-button" />
            </form>
        </div>
        <div class="sidebar-posts-cont">
            <div class="recent-posts-wrapper">
                <h4>Recent Posts</h4>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="news-collection-item w-dyn-item">
                        <a href="<%= path %>/news/popular-styles-in-electronic-music" class="clear-link w-inline-block">
                            <img src="<%= path %>/images/623addbaa271ea5c327b501a_image-asset.jpeg" loading="lazy"
                                alt="" class="recent-post-image" />
                            <div>
                                <p class="recent-post-name">Popular Styles in Electronic Music</p>
                                <p class="news-post-date">March 24, 2022</p>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="news-collection-item w-dyn-item">
                        <a href="<%= path %>/news/dance-revolution-what-was-changed" aria-current="page"
                            class="clear-link w-inline-block w--current"><img
                                src="<%= path %>/images/623addd3faf3d7eca95ba9dc_dominik-vanyi-410261-unsplash-1080x699-1.jpg"
                                loading="lazy" alt="" class="recent-post-image" />
                            <div>
                                <p class="recent-post-name">Dance Revolution: What Was Changed?</p>
                                <p class="news-post-date">March 23, 2022</p>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="news-collection-item w-dyn-item">
                        <a href="<%= path %>/news/analyzing-this-years-key-trends"
                            class="clear-link w-inline-block"><img
                                src="<%= path %>/images/623c58e4b9b5cd69716bf10f_pexels-nicole-sabilia-7022346%20(1).jpg"
                                loading="lazy" alt="" class="recent-post-image" />
                            <div>
                                <p class="recent-post-name">Analyzing This Year’s Key Trends</p>
                                <p class="news-post-date">March 24, 2022</p>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="news-collection-item w-dyn-item">
                        <a href="<%= path %>/news/signs-that-rock-will-dominate" class="clear-link w-inline-block">
                            <img src="<%= path %>/images/623addfd92159ac2935472b8_Rectangle21.png" loading="lazy" alt=""
                                sizes="(max-width: 991px) 100vw, (max-width: 1279px) 80px, (max-width: 1439px) 6vw, 80px"
                                srcset="
                  <%= path %>/images/623addfd92159ac2935472b8_Rectangle21-p-500.png 500w, 
                  <%= path %>/images/623addfd92159ac2935472b8_Rectangle21.png 1000w" class="recent-post-image" />
                            <div>
                                <p class="recent-post-name">Signs That Rock Will Dominate</p>
                                <p class="news-post-date">March 23, 2022</p>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="news-collection-item w-dyn-item">
                        <a href="<%= path %>/news/edm-and-dance-festivals-in-europe" class="clear-link w-inline-block">
                            <img src="<%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png"
                                loading="lazy" alt=""
                                sizes="(max-width: 991px) 100vw, (max-width: 1279px) 80px, (max-width: 1439px) 6vw, 80px"
                                srcset="
                  <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-500.png 500w, 
                  <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-800.png 800w, 
                  <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia-p-1080.png 1080w, 
                  <%= path %>/images/623c58f1ca2b8559f1d5c541_pexels-nicole-sabilia.png 1280w"
                                class="recent-post-image" />
                            <div>
                                <p class="recent-post-name">EDM and Dance Festivals in Europe</p>
                                <p class="news-post-date">March 24, 2022</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>