<div class="page-wrap">
    <div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease"
        data-easing2="ease" role="banner" class="navbar w-nav"
        style="background-color: rgb(255,255,255,0.9); height: 60px;">
        <div class="container nav-container">
            <a href="<%= path %>" aria-current="page" class="brand w-nav-brand w--current"><img
                    src="<%= path %>/images/5e80894f63c557e083ed96b4-5e808ce7dc544553a7f1b1e4_Black.svg" alt=""
                    class="brand-logo" /></a>
            <div class="nav-right-wrap">
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="<%= path %>/contact" class="button small w-button">Book a call</a>
                    <a href="<%= path %>/about" class="nav-link w-nav-link">About</a>
                </nav>
                <div class="menu-button w-nav-button hamburger">
                    <div class="w-icon-nav-menu svg"></div>
                    <nav role="navigation" class="nav-menu pages">
                        <a href="<%= path %>/contact" class="button small w-button page">Book a call</a>
                        <a href="<%= path %>/about" class="nav-link w-nav-link page">About</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>