<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Checkout my 10$ websites!" />
    <meta name="keywords" content="cheep webiste, websites, links, portfolio" />
    <meta name="author" content="Kuldeep k" />
    <meta property="og:title" content="10$ Website collection" />
    <meta
      property="og:description"
      content="Check out my 10$ websites! Order now"
    />
    <meta property="og:image" content="/og_image.png" />
    <meta property="og:url" content="10-dollar-website.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="10$_websites" />
    <meta property="og:locale" content="en_US" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-title"
      content="My 10$ Website collection"
    />
    <meta name="apple-touch-icon" content="/apple-touch-icon.png" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="home/css/style.css" />
    <script src="home/js/script.js" defer></script>
    <title>Website gallery</title>
  </head>

  <body id="main">
    <div id="cards">
      <%- include('card', {title: 'Fitness' , url: `${pageUrl}fitness` }) %> <%-
      include('card', {title: 'Noize' , url: `${pageUrl}noize` }) %> <%-
      include('card', {title: 'Influencer' , url: `${pageUrl}Influencer` }) %>
      <%- include('card', {title: 'Dental' , url: `${pageUrl}dental` }) %> <%-
      include('card', {title: 'Fitness' , url: `${pageUrl}fitness` }) %> <%-
      include('card', {title: 'Influencer' , url: `${pageUrl}Influencer` }) %>
    </div>
  </body>
</html>
